
.headerdiv{
height:100px; 
width:auto;
background:white; 
border:1px solid black;
}
.menudiv{
height:30px; 
width:auto;
background:blue;
 border:1px solid black;
display:-webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:end;
}
.menudiv a{  
    font-size: 1.2em;
    color: #0732a2;
    font-weight: 400;
    text-decoration: none;
	padding: 4px 5px;
    margin: 0 14px;
}
.menudiv a:hover{
	color:#f94877;
	border-bottom: 2px dotted #f94877;
	
}
.showproduct{
	height:225px; 
	width:200px; 
	display:inline-block; 
	background:#f94877; 
	margin:5px;
	
}
.showproduct a span{
	font-size: 1.2em;
    color: #0732a2;
    font-weight: 400;
    text-decoration: none;
	padding: 4px 5px;
    margin: 0 1px;
	
}

.showproduct a span:hover{
	color:black;
	border-bottom: 2px dotted black;
	
}
.sb-search {
	
	right: 0%;
	top: 14px;
	width: 0%;
	min-width: 40px;
	height: 40px;
	float: right;

}
.sb-search-input {
    position: absolute;
    top: 37px;
    right: 15%;
    border: none;
    outline: none;
    background: #f94877;
    width: 20%;
    height: 35px;
    margin: 0;
    z-index: 10;
    padding: 5px 15px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width:40px;
	height:40px;
	display: block;
	position: absolute;
	right: 15%;
    top: 33px;
	padding: 0;
	margin: 0;
	line-height:71px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
    background: url('../images/search.png') no-repeat 13px 13px #fff;
    z-index: 90;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	
}

.product{
	height:200px; 
	width:200px; 
	display:inline-block; 
	background:yellow; 
	margin:5px;
	
}