
.headerdiv{
height:auto; 
width:auto;
background:white; 

}

.logout{

	margin-left:85%
}
.sb-search {

	display:inline-block;
	top: 14px;
	height: 40px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
}
.sb-search-input {
    position: absolute;
    top: 4px;
    right: 20%;
    border: none;
    outline: none;
    background: #f94877;
    width: 60%;
    height: 35px;
    margin: 0;
    z-index: 10;
    padding: 5px 15px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
}

.sb-icon-search,.sb-search-submit  {
	width:40px;
	height:40px;
	display: block;
	position: absolute;
	right: 20%;
    top: 0px;
	padding: 0;
	margin: 0;
	line-height:71px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
    background: url('../images/search.png') no-repeat 13px 13px #fff;
    z-index: 90;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	
}
.menudiv{
	width:auto;
	height:auto;
	display:block;
	background:#edf0f5;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
}
.menuitemdiv{
	height:auto;
	display:block;
	width:auto;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
.menuitemdiv:hover{
	background:red;	
}
.menudiv a{  
    font-size: 1.3em;
    color: #0732a2;
    font-weight: 400;
    text-decoration: none;
	padding: 4px 5px;
}
.slideshowcontainer{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
}
.slideshowleft{
	
}
.slideshow{
	hight:auto;
	width:auto;
	
}
.slideshowright{
	
}
.secondarymenu{
	width:auto;
	height:auto;
	display:block;
	background:#edf0f5;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
}
.smenuitemdiv{
	height:auto;
	display:block;
	width:auto;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:30px;
}
.smenuitemdiv:hover{
		background:red;	
}
.secondarymenu a{  
    font-size: 1.3em;
    color: #0732a2;
    font-weight: 400;
    text-decoration: none;
	padding: 4px 5px;
}
.explore{
	margin-left:10%;
	width:80%;
	height:auto;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align: center;
}
.exploreheading{
	margin-top:30px;
	font-size:50px;
}
.explorethings{
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-orient:horizontal;
	
}
.exporefeature{
	width:260px;
	border-radius:10px;
	overflow:hidden;
	margin-top:10px;
	margin-bottom:10px;
	
}
.exporefeature p{
	color:#a2a2a2;
}
.exporefeature .smallheading{
	margin-top:10px;
	padding-top:10px;
	color:#808080;
	font-size:0.7em;
	font-weight: bold;
	
}
.exporefeature .heading{
	color:black;
	font-size:1.8em;
	
}
.exporefeature a{
	color:red;
	text-decoration:none;
	font-weight: bold;
	font-size:0.8em;
}
.between{
	border: 1px dotted #000000;
    margin-left:30px;
    margin-right:30px;
}
.footer{
	margin-top:15px;
	border-top:1px solid black;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-orient:horizontal;
}
.footerthing{
	padding-left:30px;
	padding-right:30px;
}

.allproductdiv{
	height: auto;
	width:80%;
	margin-left:10%;
	
}


.showproduct{
	height:225px; 
	width:200px; 
	display:inline-block; 
	background:#f94877; 
	margin:5px;
	border-radius:10px;
	overflow:hidden;
	
}
.showproduct a span{
	font-size: 1.2em;
    color: #0732a2;
    font-weight: 400;
    text-decoration: none;
	padding: 4px 5px;
    margin: 0 1px;
	
}

.showproduct a span:hover{
	color:black;
	border-bottom: 2px dotted black;
	
}




